<nav>
    <a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">
        <i class="fa-solid fa-house"></i>
        Home
    </a>
    <a href="/pictures" class="<%= activePage === 'pictures' ? 'active' : '' %>">
        <i class="fa-solid fa-images"></i>
        Pictures
    </a>
    <a href="/letters" class="<%= activePage === 'letters' ? 'active' : '' %>">
        <i class="fa-solid fa-envelopes-bulk"></i>
        Letters
    </a>
    <a href="/diary" class="<%= activePage === 'diary' ? 'active' : '' %>">
        <i class="fa-solid fa-paper-plane"></i>
        Mesages
    </a>
</nav>