<%- include ('includes/head.ejs') %>

  <header>
    <div>
      <button class="btnIcon">
        <img class="icon" src="/assets/img/grid.png" alt="">
        Gallery
      </button>
      <button class="btnIcon">
        <img class="icon" src="/assets/img/grid.png" alt="">
        Bin
      </button>
    </div>
    <div>
      <button class="btnIcon">
        <img class="icon" src="/assets/img/star.png" alt="">
        Favorites
      </button>
      <button class="btnIcon">
        <img class="icon" src="/assets/img/grid.png" alt="">
        Gallery
      </button>
    </div>
  </header>

  <div id="ContainerPicturesWrapper">
    <div id="ContainerPictures"></div>
  </div>

  <div class="LetterButtons">
    <button id="prevBtn"><i class="fa-solid fa-arrow-left"></i></button>
    <button id="nextBtn"><i class="fa-solid fa-arrow-right"></i></button>
  </div>

  <footer>
    <div>
      <button class="footerBtn">
        <img src="/assets/img/archived.png" alt="">
        Archives
      </button>
    </div>
    <div>
      <button class="footerBtn">
        <img src="/assets/img/lock.png" alt="">
        Locking
      </button>
    </div>
  </footer>

  <%- include ('includes/nav.ejs') %>

  <script src="/pictures.js"></script>
<%- include ('includes/footer.ejs') %>